body {
  margin: 0;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #242424 !important;
}

.bt:hover {
  transition: 0.2ms;
  opacity: 75%;
  outline: none;
}

.outline {
  text-decoration: none;
}
